<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ng2Listing</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
    
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="btn btn-danger" (click)="changeState('add')" >Add Listing</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--  -->
<div class="container">

  <!-- <div class="row">
    <div class="col-md-6">
      <button (click)="changeState('add')" class="btn btn-success">Add Listing</button>
    </div>
    <div class="col-md-6">
      <label> Search Listing Type
        <select (change)="searchType(searchedType.value)" #searchedType>
          <option value='0'>Select</option>
          <option *ngFor="let type of types" value="{{type.name}}">{{type.name}}</option>
        </select>
      </label>

    </div>
  </div> -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <select (change)="searchType(searchedType.value)" #searchedType class="col-md-9 custom-select mb-9 mr-sm-6 mb-sm-6" id="inlineFormCustomSelect">
        <option value='0'>Select</option>
        <option *ngFor="let type of types" value="{{type.name}}">{{type.name}}</option>
      </select>
    </div>
  </div>


  <!-- Add Listing form -->
  <div *ngIf="appState == 'add'" class="row">
    <div class="col-md-12">
      <h3>Add Listing</h3>
      <form (submit)="addListing(
        title.value,
        description.value,
        address.value,
        city.value,
        type.value,
        number_of_floors.value,
        property_type.value,
        price.value,
        beds.value,
        baths.value,
        image.value
      )">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="title" class="col-md-3 col-form-label">Title</label>
              <div class="col-md-9">
                <input class="col-md-9 form-control" type="text" #title value="Property Title" id="title">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="description" class="col-md-3 col-sm-5">Description</label>
              <div class="col-md-9 col-sm-7">
                <textarea class="form-control" id="description" rows="3" #description placeholder="Property descripion"></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3 mr-sm-2">Property Type</label>
              <select class="col-md-9 custom-select mb-9 mr-sm-6 mb-sm-6" id="inlineFormCustomSelect" #type >
                <option selected>Choose...</option>
                <option *ngFor="let type of types" value="{{type.name}}">{{type.name}}</option>
              </select>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group row">
              <label for="address" class="col-md-3 col-form-label">Address</label>
              <div class="col-md-9">
                <input class="form-control" type="text" #address value="City" id="address">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="city" class="col-md-3 col-form-label">City</label>
              <div class="col-md-9">
                <input class="form-control" type="text" #city value="City" id="city">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="floors" class="col-md-3 col-form-label">Property Type</label>
              <div class="col-md-9">
                <input class="form-control" type="text" #number_of_floors value="Number of Floors" id="floors">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="property" class="col-md-3 col-form-label">Property Type</label>
              <div class="col-md-9">
                <input class="form-control" type="text" #property_type value="Property Type" id="property">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="beds" class="col-md-3 col-form-label">Beds</label>
              <div class="col-md-9">
                <input class="form-control" type="number" #beds id="beds">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="baths" class="col-md-3 col-form-label">Baths</label>
              <div class="col-md-9">
                <input class="form-control" type="number" #baths id="baths">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="image" class="col-md-3 col-form-label">Image</label>
              <div class="col-md-9">
                <input class="form-control" type="text" #image id="image">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label for="price" class="col-md-3 col-form-label">Price</label>
              <div class="col-md-9">
                <input class="form-control" type="text" #price value="Price" id="price">
              </div>
            </div>
          </div>

          <div class="col-md-12 right">
          <!-- <button type="submit" class="btn btn-primary" value="Submit"></button> -->
            <input type="submit" class="btn btn-success" value="Submit">
          </div>
        </div><br><br>
        
      </form>
    </div>
  </div>


  <!-- Update Listing form -->
  <div *ngIf="appState == 'edit'" class="row">
    <div class="col-md-12">
      <h3>Update Listing</h3>
      <form (submit)="updateListing()">
        <div class="row">
          <div class="col-md-6">
            <label>Title
              <input type="text" [(ngModel)]="activeTitle" name="activeTitle" placeholder="Property name" #title >
            </label>
          </div>
          <div class="col-md-6">
            <label>Property Type
              <select [(ngModel)]="activeType" name="activeType" #type>
                <option value='0'>Select</option>
                <option *ngFor="let type of types" value="{{type.name}}">{{type.name}}</option>
              </select>
            </label>
          </div>
          <div class="col-md-6">
            <label>Description
              <textarea [(ngModel)]="activeDescription" name="activeDescription" #description></textarea>
            </label>
          </div>
          <div class="col-md-6">
            <label>Address
              <input type="text" [(ngModel)]="activeAddress" name="activeAddress" placeholder="Address" #address >
            </label>
          </div>
          <div class="col-md-6">
            <label>City
              <input type="text" [(ngModel)]="activeCity" name="activeCity" placeholder="City" #city >
            </label>
          </div>
          <div class="col-md-6">
            <label>Floors
              <input type="number" [(ngModel)]="activeNumberOfFloors" name="activeNumberOfFloors" placeholder="Number of Floors" #number_of_floors >
            </label>
          </div>
          <div class="col-md-6">
            <label>Property 
              <input type="text" [(ngModel)]="activeProperty" name="activeProperty" placeholder="Property Type" #property_type >
            </label>
          </div>
          <div class="col-md-6">
            <label>Beds
              <input type="number" [(ngModel)]="activeBeds" name="activeBeds" placeholder="Beds" #beds >
            </label>
          </div>
          <div class="col-md-6">
            <label>Baths
              <input type="number" [(ngModel)]="activeBaths" name="activeBaths" placeholder="Baths" #baths >
            </label>
          </div>
          <div class="col-md-6">
            <label>Image URL
              <input type="text" [(ngModel)]="activeImage" name="activeImage" placeholder="Image" #image >
            </label>
          </div>
          <div class="col-md-6">
            <label>Price
              <input type="text" [(ngModel)]="activePrice" name="activePrice" placeholder="Price" #price >
            </label>
          </div>
          <div class='row'>
            <div class="col-md-12">
              <input type="submit" class="btn btn-success" value="Submit">
            </div>
          </div>
        </div>    
      </form>
    </div>
  </div>


  <div *ngIf="appState == 'extend'">
    <div class="row">
      <div class="col-md-12">
        <button class='left' (click)="changeState('default')" class="btn btn-success">Back</button>
      </div>
    </div>
  

    <div *ngFor="let listing of listings">
      <div *ngIf="listing.$key == activeKey">
        <div class="row">
          <div class="col-md-6">
            <img src="{{listing.image}}" alt="..." class='img-responsive main_img'>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <h3 >{{listing.title}}</h3>
            <p>Category: {{listing.type}} | Property Type: {{listing.property_type}}</p>
            <p>{{listing.address}}, {{listing.city}}</p>
            <p>Floors: {{listing.number_of_floors}} | Beds: {{listing.beds}} | baths: {{listing.baths}}</p>
            <p>{{listing.description}}</p>
            <button class='btn btn-success'>{{listing.price}}</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="row" *ngIf="listings">
    <div class="col-sm-6 col-md-3" *ngFor="let listing of listings">
      <div class="card">
        <img class="card-img-top img-responsive image" src="{{listing.image}}" alt="Card image cap">
        <div class="card-block">
          <h5 class="card-title"(click)="changeState('extend', listing.$key)">{{listing.title}}</h5>
          <p class="card-text">{{listing.description  | slice:0:50}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: {{listing.price}}</li>
        </ul>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" (click)="changeState('extend', listing.$key)">More</button>
          <button type="button" class="btn btn-default" (click)="showEdit(listing)">Update</button>
          <button type="button" class="btn btn-default" (click)="deleteListing(listing.$key)">Delete</button>
        </div>
        
        <!-- <div class="card-block">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div> -->
      </div>

    </div>
  </div>
</div>
